<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tu catalogo</title>
    <link rel="stylesheet" href="/css/catalogo.css">
</head>
<body>
    
<header>
    <div class="logo">BLACK NOISE</div>
    <nav>
        <a href="@{/}">Home</a>
        <a href="@{/Carrito}">Carrito</a>
        <a href="@{/descargar-editor}">Descargar editor</a>
    </nav>
</header>

    <div class="carousel">
        <div class="list">
            <div class="item">
                <img src="../IMG/Catalogo PNG/add-flat-icon-free-png.webp">
                <div class="introduce">                    
                    <div class="../IMG/Catalogo PNG/Camiseta.png">
                    </div>
                    
                </div>
            </div>

            <div class="item">
                <img src="../IMG/Catalogo PNG/Camiseta.png">
                <div class="introduce">
                    <div class="title">Diseño 1</div>
                    <div class="topic">Mi camiseta</div>
                    <div class="des">
                        <p>Tipo de tela: Simil cuero o vinilo </p>                         
                        <p>Tipo de estampado: Estampado abstracto de estilo gráfico</p>
                        <p>Talla de la prenda: M </p>
                        <p>Dueño de la prenda:Santidk</p>
                        <p>Fecha de edicion: 1/12/24</p>
                    </div>
                    <button class="seeMore">DETALLES &#8599</button>
                </div>
                <div class="detail">
                    <div class="title">Mi camiseta</div>
                    <div class="des">
                        <!-- lorem 50 -->
                        Camisa de manga corta de estilo contemporáneo, confeccionada con un material que simula cuero o vinilo, lo que le da un acabado brillante y un aspecto moderno. El diseño incluye un bolsillo en el pecho y botones al frente. Los detalles gráficos en el cuello y parte superior consisten en patrones abstractos similares a raíces o ramas, lo que le añade un toque artístico.
                    </div>
                    <div class="specifications">
                        <div>
                            <p>Tipo de tela</p>
                            <p>Simil cuero o vinilo</p>
                        </div>
                        <div>
                            <p>Ultimo dia de edicion</p>
                            <p>1/12/24</p>
                        </div>
                        <div>
                            <p>Talla</p>
                            <p>M</p>
                        </div>
                        <div>
                            <p>Precio</p>
                            <p>30.00</p>
                        </div>
                        <div>
                            <p>Tipo de prenda</p>
                            <p>Camiseta</p>
                        </div>
                    </div>
                    <div class="checkout">
                        <button>Añadir a carrito</button>
                        <button>SEGUIR EDITANDO</button>
                    </div>
                </div>
            </div>

            <div class="item">
                <img src="../IMG/Catalogo PNG/Pantalon.png">
                <div class="introduce">
                    <div class="title">Diseño 2</div>
                    <div class="topic">Mi pantalon</div>
                    <div class="des">
                        <!-- 20 lorem -->
                        <p>Tipo de tela: Denim</p>                         
                        <p>Tipo de estampado:Rasgaduras</p>
                        <p>Talla de la prenda: L </p>
                        <p>Dueño de la prenda:Santidk</p>
                        <p>Fecha de edicion:1/12/24</p>
                    </div>
                    <button class="seeMore">DETALLES &#8599</button>
                </div>
                <div class="detail">
                    <div class="title">Mi Pantalon</div>
                    <div class="des">
                        <!-- lorem 50 -->
                        Pantalón tipo jeans de estilo casual y moderno. El diseño incluye rasgaduras prominentes en ambas piernas, lo que le da un acabado desgastado o "distressed"
                    </div>
                    <div class="specifications">
                        <div>
                            <p>Tipo de tela</p>
                            <p>Denim</p>
                        </div>
                        <div>
                            <p>Ultimo dia de edicion</p>
                            <p>1/12/24</p>
                        </div>
                        <div>
                            <p>Talla</p>
                            <p>L</p>
                        </div>
                        <div>
                            <p>Precio</p>
                            <p>0.000</p>
                        </div>
                        <div>
                            <p>Tipo de prenda</p>
                            <p>Pantalon</p>
                        </div>
                    </div>
                    <div class="checkout">
                        <button>Añadir a carrito</button>
                        <button>SEGUIR EDITANDO</button>
                    </div>
                </div>
            </div>

            <div class="item">
                <img src="../IMG/Catalogo PNG/Gorra.png">
                <div class="introduce">
                    <div class="title">Diseño 3</div>
                    <div class="topic">Gorra Darkside</div>
                    <div class="des">
                        <!-- 20 lorem -->
                        <p>Tipo de tela: Drill</p>                         
                        <p>Tipo de estampado:Sublimacion</p>
                        <p>Talla de la prenda: L </p>
                        <p>Dueño de la prenda:Santidk</p>
                        <p>Fecha de edicion:1/12/24</p>
                    </div>
                    <button class="seeMore">DETALLES &#8599</button>
                </div>
                <div class="detail">
                    <div class="title">Gorra Darkside</div>
                    <div class="des">
                        <!-- lorem 50 -->
                        La prenda es una camiseta de color negro con un diseño gráfico llamativo en la parte frontal. Tiene un corte holgado, estilo oversized, y detalles visibles en las costuras de los hombros que parecen decorativos o funcionales, como cremalleras o un efecto remarcado.

En el diseño frontal, el texto principal parece decir "Dystopia" en un estilo tipográfico distorsionado, con colores púrpura y verde que le dan un efecto visual vibrante o difuminado. Debajo, hay un texto adicional que dice "Still Loving You" y menciona "Made in Vietnam" en letras más pequeñas.
                    </div>
                    <div class="specifications">
                        <div>
                            <p>Tipo de tela</p>
                            <p>Drill</p>
                        </div>
                        <div>
                            <p>Ultimo dia de edicion</p>
                            <p>1/12/24</p>
                        </div>
                        <div>
                            <p>Talla</p>
                            <p>L</p>
                        </div>
                        <div>
                            <p>Precio</p>
                            <p>0.000</p>
                        </div>
                        <div>
                            <p>Tipo de prenda</p>
                            <p>Gorra</p>
                        </div>
                    </div>
                    <div class="checkout">
                        <button>Añadir a carrito</button>
                        <button>SEGUIR EDITANDO</button>
                    </div>
                </div>
            </div>

            <div class="item">
                <img src="../IMG/Catalogo PNG/Esqueleto.png">
                <div class="introduce">
                    <div class="title">Diseño 4</div>
                    <div class="topic">Esqueleto</div>
                    <div class="des">
                        <!-- 20 lorem -->
                        <p>Tipo de tela: Denim</p>                         
                        <p>Tipo de estampado: Serigrafia</p>
                        <p>Talla de la prenda:L</p>
                        <p>Dueño de la prenda: Santidk</p>
                        <p>Fecha de edicion:1/12/24</p>
                    </div>
                    <button class="seeMore">DETALLES &#8599</button>
                </div>
                <div class="detail">
                    <div class="title">Esqueleto</div>
                    <div class="des">
                        <!-- lorem 50 -->
                        La prenda es una camiseta de color negro con un diseño gráfico llamativo en la parte frontal. Tiene un corte holgado, estilo oversized, y detalles visibles en las costuras de los hombros que parecen decorativos o funcionales, como cremalleras o un efecto remarcado.

En el diseño frontal, el texto principal parece decir "Dystopia" en un estilo tipográfico distorsionado, con colores púrpura y verde que le dan un efecto visual vibrante o difuminado. Debajo, hay un texto adicional que dice "Still Loving You" y menciona "Made in Vietnam" en letras más pequeñas.
                    </div>
                    <div class="specifications">
                        <div>
                            <p>Tipo de tela</p>
                            <p>Denim</p>
                        </div>
                        <div>
                            <p>Ultimo dia de edicion</p>
                            <p>1/12/24</p>
                        </div>
                        <div>
                            <p>Talla</p>
                            <p>L</p>
                        </div>
                        <div>
                            <p>Precio</p>
                            <p>0.000</p>
                        </div>
                        <div>
                            <p>Tipo de prenda</p>
                            <p>Esqueleto</p>
                        </div>
                    </div>
                    <div class="checkout">
                        <button>Añadir a carrito</button>
                        <button>SEGUIR EDITANDO</button>
                    </div>
                </div>
            </div>

            <div class="item">
                <img src="../IMG/Catalogo PNG/Hoddie.png">
                <div class="introduce">
                    <div class="title">Diseño 5</div>
                    <div class="topic">Hoddie</div>
                    <div class="des">
                        <!-- 20 lorem -->
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, laborum cumque dignissimos quidem atque et eligendi aperiam voluptates beatae maxime.
                    </div>
                    <button class="seeMore">SEE MORE &#8599</button>
                </div>
                <div class="detail">
                    <div class="title">Hoddie</div>
                    <div class="des">
                        <!-- lorem 50 -->
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, reiciendis suscipit nobis nulla animi, modi explicabo quod corrupti impedit illo, accusantium in eaque nam quia adipisci aut distinctio porro eligendi. Reprehenderit nostrum consequuntur ea! Accusamus architecto dolores modi ducimus facilis quas voluptatibus! Tempora ratione accusantium magnam nulla tenetur autem beatae.
                    </div>
                    <div class="specifications">
                        <div>
                            <p>Tipo de tela</p>
                            <p>Denim</p>
                        </div>
                        <div>
                            <p>Ultimo dia de edicion</p>
                            <p>1/12/24</p>
                        </div>
                        <div>
                            <p>Talla</p>
                            <p>L</p>
                        </div>
                        <div>
                            <p>Precio</p>
                            <p>0.000</p>
                        </div>
                        <div>
                            <p>Tipo de prenda</p>
                            <p>Hoddie</p>
                        </div>
                    </div>
                    
                    <div class="checkout">
                        <button>Añadir a carrito</button>
                        <button>SEGUIR EDITANDO</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="arrows">
            <button id="prev"><</button>
            <button id="next">></button>
            <button id="back">See All  &#8599</button>
        </div>
    </div>



    
    <script src="/js/catalogo.js"></script>


</body>
</html>