<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../2. CSS_S/error404.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Black Noise</title>
</head>
<body>


    <header>

        <!-- =================================================== -->
        <nav class="nav">
            <div class="logo">
                <a href="#">
                    <img src="../IMG/Logos/black noise (LOGO).png" alt="LOGO" style="width: 330px">
                </a>
            </div>
            <ul class="menu">
                <li><a href="aquiyasabesque"><img src="../ICONS/icono persona.svg" alt="Registro" style="width: 20px"></a></li>
                <li><a href="aquiyasabesque"><img src="../ICONS/Carrito.svg" alt="Carrito" style="width: 20px"></a></li>
                <li><a onclick="call_error_404()"><img src="../ICONS/icono-lupa.svg" alt="Busqueda" style="width: 20px"></a></li>
            </ul>
        </nav>

        <!-- ===================================================== -->

        <section class="header_content">

            <section class="texto_error_404">
                <h1>error 404</h1>
            </section>
    
            <section class="volver_al_inicio"> 
                <a href="/1. HTMLS/1. Home.html" class="texto_volve_al_inicio" >volver al inicio</a>
            </section>


        </section>
        <!-- ====================================================== -->


    </header>

 <!-- =============================================== -->


    <section class="footer">
        <div class="footer-container">
            <div class="footer-section">
                <h3>Métodos de Pago</h3>
                <p>Visa, MasterCard, PayPal, American Express</p>
            </div>
            <div class="footer-section">
                <h3>Contacto</h3>
                <p>Email: Blacknoise@gmail.com</p>
                <p>Teléfono: +3124522599</p>
            </div>
            <div class="footer-section">
                <h3>Ayuda</h3>
                <p><a onclick="call_error_404()">Términos y condiciones</a></p>
                <p><a onclick="call_error_404()">Privacidad</a></p>
                <p><a onclick="call_error_404()">Política de compra</a></p>
            </div>
            <div class="footer-section">
                <h3>Síguenos</h3>
                <div class="social-icons">
                    <a onclick="call_error_404()"><img src="../ICONS/icono-facebook-nuevo.svg" alt="Facebook"></a>
                    <a onclick="call_error_404()"><img src="../ICONS/icono-x.svg" alt="Twitter"></a>
                    <a onclick="call_error_404()"><img src="../ICONS/icono-logo-de-instagram.svg" alt="Instagram"></a>
                    <a onclick="call_error_404()"><img src="../ICONS/icono-youtube-play.svg" alt="YouTube"></a>
                </div>
            </div>
        </div>
    </section>

    <script src="../3. JS_S/Home.js" ></script>
    <script src="../3. JS_S/error_404.js"></script>
</body>
</html>