<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/Home.css"
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Black Noise</title>
</head>
<body>


    <header>
        <nav class="nav">
            <div class="logo">
                <a href="#">
                    <img src="../IMG/Logos/black noise (LOGO).png" alt="LOGO" style="width: 330px">
                </a>
            </div>
            <ul class="menu">
                <li><a href="http://localhost:8080/auth/registro"><img src="../ICONS/icono persona.svg" alt="Registro" style="width: 20px"></a></li>
                <li><a href="http://localhost:8080/auth/registro"><img src="../ICONS/Carrito.svg" alt="Carrito" style="width: 20px"></a></li>
                <li><a onclick="call_error_404()"><img src="../ICONS/icono-lupa.svg" alt="Busqueda" style="width: 20px"></a></li>
            </ul>
        </nav>
        <div class="header-content">
            <h1>Diseña tu propia ropa</h1>
            <p>
                Con nuestro innovador software de edición de ropa, diseñar nunca ha sido tan fácil. Crea tu propio estilo acomodado a tu forma de ser.
            </p>
            <a href="http://localhost:8080/auth/registro">
                <button>EMPEZAR AHORA!</button>
            </a>
        </div>
    </header>


    <section class="information1">
        <div class="general-txt">
            <h1>DISEÑA</h1>
            <h1>PRENDAS REALES</h1>
            <p>Selecciona tu talla, el color, corta y crea detalles</p>
            <a href="http://localhost:8080/auth/registro">
                <button>EMPEZAR AHORA!</button>
            </a>
        </div>
        <div class="general-img">
            <img src="../IMG/Modelos/Modelo 4.jpg" alt="Modelo 1" style="width: 100%;">
        </div>
    </section>


    <section class="information2">
        <div class="general-img">
            <img src="../IMG/Modelos/Modelo 5.jpg" alt="Modelo 2" style="width: 100%;">
        </div>
        <div class="general-txt">
            <h1>AÑADE ELEMENTOS</h1>
            <h1>A TUS PRENDAS</h1>
            <p>Añade parches, taches, estampados y mucho más</p>
                <a href="http://localhost:8080/auth/registro">
                    <button>EMPEZAR AHORA!</button>
                </a>
        </div>
    </section>


    <section class="articles">
        <div class="item">
            <figure>
                <img src="../IMG/Chaquetas/Chaqueta 1.jpg" alt="Sweater 2">
                <div class="overlay">
                    <button onclick="call_error_404()">Empezar a editar</button>
                </div>
            </figure>
            <div class="info-product">
                <h2>Chaquetas</h2>
            </div>
        </div>
        <div class="item">
            <figure>
                <img src="../IMG/Faldas/Falda 1.jpg" alt="Sweater 1">
                <div class="overlay">
                    <button onclick="call_error_404()">Empezar a editar</button>
                </div>
            </figure>
            <div class="info-product">
                <h2>Faldas</h2>
            </div>
        </div>
        <div class="item">
            <figure>
                <img src="../IMG/Gorras/Gorra 1.jpg" alt="Camisa 1">
                <div class="overlay">
                    <button onclick="call_error_404()">Empezar a editar</button>
                </div>
            </figure>
            <div class="info-product">
                <h2>Gorras</h2>
            </div>
        </div>
        <div class="item">
            <figure>
                <img src="../IMG/Camisetas/Camiseta 1.jpg" alt="Pantalón 2">
                <div class="overlay">
                    <button onclick="call_error_404()">Empezar a editar</button>
                </div>
            </figure>
            <div class="info-product">
                <h2>Camisteas</h2>
            </div>
        </div>
    </section>

    <section class="Comunity">
        <p> comunidad de diseñadores</p>
        <img src="../IMG/Logos/black noise (LOGO).png" alt="LOGO" style="width: 330px">
        <a href="/templates/registro">
            <button>Registrame ahora</button>
        </a>
    </section>



    <section class="articles">
        <div class="item">
            <figure>
                <img src="../IMG/Sweaters/Sweater 1.jpg" alt="Sweater 2">
                <div class="overlay">
                    <button onclick="call_error_404()">Empezar a editar</button>
                </div>
            </figure>
            <div class="info-product">
                <h2>Sweater</h2>
            </div>
        </div>
        <div class="item">
            <figure>
                <img src="../IMG/Hoddie_s/Hoddie 1.jpg" alt="Sweater 1">
                <div class="overlay">
                    <button onclick="call_error_404()">Empezar a editar</button>
                </div>
            </figure>
            <div class="info-product">
                <h2>Hoddies's</h2>
            </div>
        </div>
        <div class="item">
            <figure>
                <img src="../IMG/Camisas/Camisa 1.jpg" alt="Camisa 1">
                <div class="overlay">
                    <button onclick="call_error_404()">Empezar a editar</button>
                </div>
            </figure>
            <div class="info-product">
                <h2>Camisas</h2>
            </div>
        </div>
        <div class="item">
            <figure>
                <img src="../IMG/Pantalones/Pantalon 2.jpg" alt="Pantalón 2">
                <div class="overlay">
                    <button onclick="call_error_404()">Empezar a editar</button>
                </div>
            </figure>
            <div class="info-product">
                <h2>Pantalones</h2>
            </div>
        </div>
    </section>



    <section class="footer">
        <div class="footer-container">
            <div class="footer-section">
                <h3>Métodos de Pago</h3>
                <p>Visa, MasterCard, PayPal, American Express</p>
            </div>
            <div class="footer-section">
                <h3>Contacto</h3>
                <p>Email: Blacknoise@gmail.com</p>
                <p>Teléfono: +3124522599</p>
            </div>
            <div class="footer-section">
                <h3>Ayuda</h3>
                <p><a onclick="call_error_404()">Términos y condiciones</a></p>
                <p><a onclick="call_error_404()">Privacidad</a></p>
                <p><a onclick="call_error_404()">Política de compra</a></p>
            </div>
            <div class="footer-section">
                <h3>Síguenos</h3>
                <div class="social-icons">
                    <a onclick="call_error_404()"><img src="../ICONS/icono-facebook-nuevo.svg" alt="Facebook"></a>
                    <a onclick="call_error_404()"><img src="../ICONS/icono-x.svg" alt="Twitter"></a>
                    <a onclick="call_error_404()"><img src="../ICONS/icono-logo-de-instagram.svg" alt="Instagram"></a>
                    <a onclick="call_error_404()"><img src="../ICONS/icono-youtube-play.svg" alt="YouTube"></a>
                </div>
            </div>
        </div>
    </section>

    <script src="/js/error_404.js" ></script>
    <script src="/js/Home.js" ></script>

    
</body>
</html>